.game-title {
  font-weight: bold;
  font-size: large;
}

.game-detail {
  font-size: smaller;
}

.game-detail > div {
  display: inline;
}

.game-info {
  text-decoration: none;
  color: inherit;
}

.title-block {
  margin-bottom: 20px;
}

.title-block > * {
  display: inline;
}
