.title {
  font-weight: bold;
  font-size: large;
}

.platform {
  font-size: smaller;
}

/* td:nth-last-child(1) {
    text-align: right;
} */

.game-info {
  text-decoration: none;
  color: inherit;
}
