{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'shelf/games.css' %}">
{% endblock %}

{% block content %}
<h1 class="page-title">Completed</h1>
{% if games %}
<table class="table">
  <tbody>
  {% for game in games %}
  <tr>
    <td>
      <a href="{% url 'shelf:edit_a_game' game.id %}" class="game-info">
        <div class="game-title">{{game.title}}</div>
        <div class="platform">{{game.get_platform_display}}</div>
        <div>{{game.get_rating_display}}</div>
      </a>
    </td>
  </tr>
  {% endfor %}
  </tbody>
</table>
{% else %}
<p>No completed games</p>
{% endif %}
{% endblock %}
