{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'shelf/games.css' %}">
{% endblock %}

{% block content %}
<h1 class="page-title">Currently playing</h1>
{% if games %}
<ul class="list-group">
  {% for game in games %}
  <li class="list-group-item">
    <a href="{% url 'shelf:edit_a_game' game.id %}" class="game-info">
      <div class="game-title">{{game.title}}</div>
      <div class="platform">{{game.get_platform_display}}</div>
      <div>{{game.get_rating_display}}</div>
    </a>
  </li>
  {% endfor %}
</ul>
{% else %}
<p>No currently playing games</p>
{% endif %}
{% endblock %}
