{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'shelf/games.css' %}">
{% endblock %}

{% block content %}
<h1 class="page-title">Unplayed</h1>
{% if games %}
<div class="list-group">
  {% for game in games %}
  <a href="{% url 'shelf:edit_a_game' game.id %}" class="game-info list-group-item list-group-item-action">
    <div class="game-title">{{game.title}}</div>
    <div class="platform">{{game.get_platform_display}}</div>
    <div>{{game.get_rating_display}}</div>
  </a>
  {% endfor %}
</div>
{% else %}
<p>No unplayed games</p>
{% endif %}
{% endblock %}
