{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'shelf/edit_order.css' %}">
{% endblock %}

{% block content %}
<h1 class="page-title">Editing order</h1>
<form method="post">
  {% csrf_token %}
  {% for game in games %}
  <div class="form-group">
    <label for="game_ranking_{{game.id}}">{{game.title}}</label>
    <select name="game_ranking_{{game.id}}" autocomplete="off">
      {% for _ in games %}
      <option value="{{forloop.counter}}" {% if forloop.counter == game.ranking %} selected {% endif %}>{{forloop.counter}}</option>
      {% endfor %}
    </select>
  </div>
  {% endfor %}
  <div class="form-group">
    <button type="submit">Save</button>
  </div>
</form>
{% endblock %}
